@font-face {
	font-family: DroidSansMonoSlashed;
	src: url('../fonts/DroidSansMonoSlashed.ttf') format('truetype'),
		url('../fonts/DroidSansMonoSlashed.woff') format('woff');
}

#app-content-wrapper {
	overflow: hidden;
	position: relative;
}

#terminal-container {
	height: 100%;
	width: 100%;
	position: absolute;
}

.terminal {
	font-family: "DroidSansMonoSlashed", monospace;
}

.xterm-rows {
	line-height: 1.1em !important;
	font-size: 1.2em;
}
